<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find your Job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="big">
        <div class="navbar" style="text-align: centre;"><div class="heading"><h1 > Job<br>Hub</h1></div>
        <div class="container">
			<nav class="Bar">
				<ul>
					
                        <li class="active"><a href="{{url_for('LoginA')}}">Login for Administrator</a></li>
                        <li class="active"><a href="{{url_for('LoginJ')}}">Login for New applicant</a></li>
						<li><a href="{{url_for('registerA')}}">register for Administrator</a></li>
                        <li><a href="{{url_for('registerJ')}}">register for new applicant</a></li>
                    
				</ul>
			</nav>
            <img src="https://static.vecteezy.com/system/resources/previews/002/292/406/original/hamburger-menu-line-icon-free-vector.jpg" alt="manu" class="menu-icon"><br><br><br><br>
            <div class="row">
                <div class="col-1">
                    <h2>Welcome to Job Hub </h2>
                    <h3>The place where talent meets<br>its expectations</h3>
                </div>
                <img src="https://images.squarespace-cdn.com/content/v1/5a4cec64a803bb1a5d9a5b9e/1516296657713-GAKBTV0MVZ3ZF1KMEFBY/Applicationprocess_words.jpg?format=1000w" alt="job" class="job">
            </div>
		</div><br><br>
    </div>
    </div>
</body>
</html>